!!!
html(ng-app="countryStateMetadataGenerator")
  head
    meta(charset='utf8')
    base(href='/')
    title Kinetic Growth | Generate Country and State Metadata
    link(rel='stylesheet', href='/vendor/lightning-design-system/styles/salesforce-lightning-design-system.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body(class="slds")
    block body
